.hero-container{
	background:  #333333 url(https://static.sketchfab.com/static/builds/web/dist/fading-polygons-edd70e4bb29aa1adba01661082ee1c20.png) left top repeat-x;
	color: #eeeeee;
	height:420px;
}